<div class="account-success-page">
  <div class="account-success-page__container">
    <app-account-navigation
      [backButtonText]="getText('account.common.backButton')"
      (backClick)="goBack()"
    ></app-account-navigation>

    <!-- Celebratory Graphic -->
    <div class="account-success-page__graphic">
      <div class="account-success-page__graphic__phone">
        <div class="account-success-page__graphic__phone__screen">
          <div class="account-success-page__graphic__phone__logo">S</div>
        </div>
      </div>
      <div class="account-success-page__graphic__confetti">
        <div
          class="account-success-page__graphic__confetti__ribbon account-success-page__graphic__confetti__ribbon--red"
        ></div>
        <div
          class="account-success-page__graphic__confetti__ribbon account-success-page__graphic__confetti__ribbon--green"
        ></div>
        <div
          class="account-success-page__graphic__confetti__ribbon account-success-page__graphic__confetti__ribbon--blue"
        ></div>
        <div
          class="account-success-page__graphic__confetti__star account-success-page__graphic__confetti__star--yellow"
        ></div>
        <div
          class="account-success-page__graphic__confetti__star account-success-page__graphic__confetti__star--blue"
        ></div>
        <div
          class="account-success-page__graphic__confetti__star account-success-page__graphic__confetti__star--green"
        ></div>
        <div
          class="account-success-page__graphic__confetti__dot account-success-page__graphic__confetti__dot--red"
        ></div>
        <div
          class="account-success-page__graphic__confetti__dot account-success-page__graphic__confetti__dot--blue"
        ></div>
      </div>
      <div class="account-success-page__graphic__background"></div>
    </div>

    <!-- Success Message -->
    <app-success-message
      [titlePrefix]="getText('account.account-success.title.prefix')"
      [titleHighlight]="getText('account.account-success.title.highlight')"
      [subtitlePrefix]="getText('account.account-success.subtitle.prefix')"
      [subtitleHighlight]="getText('account.account-success.subtitle.highlight')"
      [description]="getText('account.account-success.description')"
    ></app-success-message>

    <!-- Find Branch Link -->
    <app-find-branch
      [buttonText]="getText('account.account-success.findBranch')"
      (findBranchClick)="findBranch()"
    ></app-find-branch>

    <!-- Account Details Card -->
    <app-account-details
      [title]="getText('account.account-success.accountDetails.title')"
      [typeLabel]="getText('account.account-success.accountDetails.type')"
      [currencyLabel]="getText('account.account-success.accountDetails.currency')"
      [infoMessage]="getText('account.account-success.accountDetails.infoMessage')"
      [accountData]="accountDetails"
    ></app-account-details>

    <!-- Toast Notification -->
    <std-toast status="info" class="account-success-page__toast">
      ¡Tu cuenta ha sido activada exitosamente!
    </std-toast>
  </div>
</div>
