<div class="account-success-page">
  <div class="account-success-page__container">
    <img
      src="assets/images/congrats.svg"
      alt="congrats"
      class="account-success-page__image"
    />

    <main class="account-success-page__main">
      <!-- Success Message -->
      <div class="account-success-page__message">
        <h1 class="account-success-page__message__title">
          {{ getText('account.account-success.title', { name: 'Carlos Alberto'
          }) }}
        </h1>

        <p class="account-success-page__message__subtitle">
          <span class="account-success-page__message__subtitle__prefix">
            {{ getText('account.account-success.subtitle.prefix') }}
          </span>
          <span class="account-success-page__message__subtitle__highlight">
            {{ getText('account.account-success.subtitle.highlight') }}
          </span>
        </p>

        <p class="account-success-page__message__description">
          {{ getText('account.account-success.description') }}
        </p>
      </div>

      <!-- Find Branch Link -->
      <div class="account-success-page__find-branch">
        <button
          class="account-success-page__find-branch__button"
          (click)="findBranch()"
        >
          {{ getText('account.account-success.findBranch') }}
          <img src="assets/images/arrow-right.svg" alt="arrow" />
        </button>
      </div>
    </main>

    <!-- Account Details Card -->
    <div class="account-success-page__account-details">
      <div class="account-success-page__account-details__card">
        <h3 class="account-success-page__account-details__title">
          {{ getText('account.account-success.accountDetails.title') }}
        </h3>

        <div class="account-success-page__account-details__info">
          <div class="account-success-page__account-details__row">
            <span class="account-success-page__account-details__label">
              {{ getText('account.account-success.accountDetails.type') }}
            </span>
            <span class="account-success-page__account-details__value">
              {{ accountDetails.type }}
            </span>
          </div>

          <div class="account-success-page__account-details__row">
            <span class="account-success-page__account-details__label">
              {{ getText('account.account-success.accountDetails.currency') }}
            </span>
            <span class="account-success-page__account-details__value">
              {{ accountDetails.currency }}
            </span>
          </div>
        </div>

        <div class="account-success-page__account-details__notification">
          <img src="assets/images/info.svg" alt="info" />
          <p class="account-success-page__account-details__notification__text">
            {{
            getText('account.account-success.accountDetails.infoMessage.prefix')
            }}
            <span
              class="account-success-page__account-details__notification__text--highlight"
              >{{
              getText('account.account-success.accountDetails.infoMessage.highlight')
              }}</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
