.account-success-page {
  background-color: #ffffff;
  padding: 1.5rem;

  &__container {
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__image {
    margin: 0.5rem;
  }

  &__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__message {
    margin: 1.5rem 0;

    &__title {
      font-size: 18px;
      font-weight: 700;
      line-height: 1.2;
      margin: 0 0 16px 0;
      color: #222222;
    }

    &__subtitle {
      font-size: 24px;
      font-weight: 700;
      line-height: 1.3;
      margin: 0 0 16px 0;

      &__prefix {
        color: #212529;
      }

      &__highlight {
        color: #dc3545;
      }
    }

    &__description {
      font-size: 14px;
      font-weight: 400;
      color: #222222;
      margin: 0;
      line-height: 1.5;
    }
  }

  &__find-branch {
    &__button {
      background: none;
      border: none;
      color: #127277;
      font-size: 14px;
      font-weight: 700;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 5px;

      &:hover {
        color: #0f5f63;
      }
    }
  }

  &__account-details {
    width: 100%;
    margin-bottom: 4rem;

    &__card {
      background-color: #fff;
      border: 1px solid #cedee7;
      border-radius: 12px;
      padding: 20px;
    }

    &__title {
      font-size: 20px;
      font-weight: 700;
      color: #222222;
      margin: 0 0 20px 0;
      text-align: center;
    }

    &__info {
      margin-bottom: 20px;
    }

    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 0;
      border-bottom: 1px solid #f8f9fa;

      &:last-child {
        border-bottom: none;
      }
    }

    &__label {
      font-size: 14px;
      font-weight: 400;
      color: #727272;
    }

    &__value {
      font-size: 14px;
      color: #222222;
      font-weight: 700;
    }

    &__notification {
      background-color: #f5f9fb;
      border-radius: 8px;
      padding: 16px;
      display: flex;
      align-items: flex-start;
      gap: 8px;

      &__text {
        font-size: 14px;
        font-weight: 400;
        color: #222222;
        margin: 0;
        line-height: 1.4;
        text-align: left;

        &--highlight {
          font-weight: 700;
        }
      }
    }
  }
}
