<div class="success-message">
  <h1 class="success-message__title">
    <span class="success-message__title__prefix">
      {{ titlePrefix }}
    </span>
    <span class="success-message__title__highlight">
      {{ titleHighlight }}
    </span>
  </h1>

  <p class="success-message__subtitle">
    <span class="success-message__subtitle__prefix">
      {{ subtitlePrefix }}
    </span>
    <span class="success-message__subtitle__highlight">
      {{ subtitleHighlight }}
    </span>
  </p>

  <p class="success-message__description">
    {{ description }}
  </p>
</div>
