<div class="consent-checkbox">
  <label class="consent-checkbox__label">
    <input
      type="checkbox"
      class="consent-checkbox__checkbox"
      [checked]="checked"
      (change)="onCheckboxChange($event)"
    />
    <span class="consent-checkbox__text">
      {{ text }}
      <span class="consent-checkbox__text__highlight">
        {{ highlight1 }}
      </span>
      {{ suffix }}
      <span class="consent-checkbox__text__highlight">
        {{ highlight2 }}
      </span>.
    </span>
  </label>
</div>
