<div class="consent-checkbox">
  <div class="consent-checkbox__container">
    <input
      type="checkbox"
      class="consent-checkbox__checkbox"
      [checked]="checked"
      (change)="onCheckboxChange($event)"
      id="consent-checkbox"
    />
    <label class="consent-checkbox__label" for="consent-checkbox">
      <span class="consent-checkbox__text">
        {{ text }}
        <span class="consent-checkbox__text__highlight" (click)="onContractClick($event)">
          {{ highlight1 }}
        </span>
        {{ suffix }}
        <span class="consent-checkbox__text__highlight" (click)="onContractClick($event)">
          {{ highlight2 }}
        </span>.
      </span>
    </label>
  </div>
</div>
